/* Estilos generales */
body {
  font-family: Arial, sans-serif; /* Fuente predeterminada */
  margin: 0; /* Elimina el margen predeterminado */
  padding: 0; /* Elimina el relleno predeterminado */
  background-color: #95A5A6;
}

/* Estilos para la barra de navegación */
nav {
  background-color: #333; /* Color de fondo de la barra de navegación */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Para ocultar el desbordamiento de los elementos de la lista */
}

li {
  float: left; /* Hace que los elementos de la lista floten horizontalmente */
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Cambia el color del enlace al pasar el ratón */
li a:hover {
  background-color: #555;
}

.active {
  background-color: #04AA6D; /* Color de fondo para el enlace activo */
}

/* Estilos para las secciones */
.seccion {
  background-color: #f9f9f9; /* Color de fondo de las secciones */
  padding: 20px; /* Espaciado interno */
  margin-bottom: 20px; /* Margen inferior */
  border-radius: 5px; /* Bordes redondeados */
}

/* Estilos para los formularios */
form {
  margin-bottom: 10px; /* Margen inferior */
}

input[type="text"],
input[type="submit"],
button {
  padding: 10px; /* Espaciado interno */
  margin-bottom: 10px; /* Margen inferior */
  border-radius: 5px; /* Bordes redondeados */
  border: 1px solid #ccc; /* Borde */
}

input[type="submit"],
button {
  background-color: #04AA6D; /* Color de fondo para el botón de envío */
  color: white; /* Color de texto */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
}

input[type="submit"]:hover,
button:hover {
  background-color: #45a049; /* Color de fondo al pasar el ratón */
}

h1{
  text-align: center;
}

.align-right{
  position: absolute;
  right: 10%; /* Lo mueve a la derecha */
  top: 20%;
}

.divisiones{
  margin-left: 5rem;
}

