{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <title>Proyecto 3</title>
</head>
<body>
  <div>
    <nav>
      <ul>
        <li><a class="active" href="#">Configuracion</a></li>
        <li><a href="{% url 'transac' %}">Trasacciones</a></li>
        <li><a href="{% url 'peticiones' %}">Peticiones</a></li>
        <li><a href="https://github.com/josePaz156/IPC2_Proyecto3_202201185" target="_blank">Ayuda</a></li>
      </ul>
    </nav>
  </div>
  <h1>Configuracion</h1>
  <div class="divisiones">
    <h2>Subir Archivos</h2>
    <form method="post" enctype="multipart/form-data" action="/enviar-archivo/">
      {% csrf_token %}
      <input type="file" name="file" accept=".txt, .pdf, .doc, .docx, .xml"><br><br>
      <input type="submit" value="Subir Archivo">
    </form>
  </div>
  <div class="divisiones">
    <h2>Inicializar</h2>
    <form action="/borrar_datos/" method="post">
      {% csrf_token %}
      <input type="hidden" name="_method" value="DELETE">
      <button type="submit">Borrar todos los datos</button>
  </form>
  </div>
</body>
</html>