<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jersey+10&display=swap" rel="stylesheet">
  <title>Proyecto 3</title>
</head>
<body>
  <div>
    <nav>
      <ul>
        <li><a href="#">Configuracion</a></li>
        <li><a href="#">Trasacciones</a></li>
        <li><a href="#">Visualizacion</a></li>
      </ul>
    </nav>
  </div>
  <h1>Configuracion</h1>
  <div>
    <h2>Subir Archivos</h2>
    <form method="post" enctype="multipart/form-data" action="/enviar-archivo/">
      {% csrf_token %}
      <input type="file" name="file" accept=".txt, .pdf, .doc, .docx, .xml"><br><br>
      <input type="submit" value="Subir Archivo">
    </form>
  </div>
  <div>
    <h2>Inicializar</h2>
    <form method="post">
      {% csrf_token %}
      <input type="submit" value="Iniciar Programa">
  </form>
  </div>
</body>
</html>